html {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav {
  margin-top: 27px;
}
a {
  padding-left: 5px;
  padding-right: 5px;
}
a, a:visited {
    text-decoration: none;
    color: grey;
}
a:hover, a:active {
    color: grey;
	text-decoration: underline;
}
a:visited {
  color: grey;
}

p {
  margin-left: 50px;
  margin-right: 50px;
}