html {
  background-image: url("walk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
}
.nav {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  justify-content: space-around;
  margin-right: 100px;
  padding-top: 20px;
}
.links {
  padding-top: 10px;
}
a {
    color: white;
    text-decoration: none;
}
img {
  width: 100%;
  min-width: 50px;
  max-width: 200px;
}
@media screen and (max-width: 800px) {
  .nav {
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
  }
  .img {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
.content {
  margin-left: 100px;
  margin-right: 100px;
}
