html {
  background-image: url("A11-40-5872-74HR.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.nav {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  justify-content: space-around;
  margin-right: 100px;
  padding-top: 25px;
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 772px) {
  html {
    background-image: url("space2.png");
  }
}
.nav > .links {
  padding-top: 11px;
  padding-right: 10px;
  padding-left: 10px;
}
.container > .content {
  text-align: center;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}
a, a:visited {
  color: grey;
  text-decoration: none;
}
a:hover {
  color: lightgrey;
  text-decoration: none;
}
a:active {
  color: white;
}
img {
  max-width: 100%;
  max-height: 100%;
}
